BMICalcApp/src/META-INF/wsdl/localhost_8080/BMICalcWebApp/BMICalcWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.bmicalc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.bmicalc.com/" name="BMICalcWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.bmicalc.com/" schemaLocation="http://localhost:8080/BMICalcWebApp/BMICalcWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="viewUser">
<part name="parameters" element="tns:viewUser"/>
</message>
<message name="viewUserResponse">
<part name="parameters" element="tns:viewUserResponse"/>
</message>
<message name="insertUser">
<part name="parameters" element="tns:insertUser"/>
</message>
<message name="insertUserResponse">
<part name="parameters" element="tns:insertUserResponse"/>
</message>
<message name="checkUserEmail">
<part name="parameters" element="tns:checkUserEmail"/>
</message>
<message name="checkUserEmailResponse">
<part name="parameters" element="tns:checkUserEmailResponse"/>
</message>
<message name="calculateBMI">
<part name="parameters" element="tns:calculateBMI"/>
</message>
<message name="calculateBMIResponse">
<part name="parameters" element="tns:calculateBMIResponse"/>
</message>
<message name="classifyBMI">
<part name="parameters" element="tns:classifyBMI"/>
</message>
<message name="classifyBMIResponse">
<part name="parameters" element="tns:classifyBMIResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="viewBmiResult">
<part name="parameters" element="tns:viewBmiResult"/>
</message>
<message name="viewBmiResultResponse">
<part name="parameters" element="tns:viewBmiResultResponse"/>
</message>
<message name="insertBMIResult">
<part name="parameters" element="tns:insertBMIResult"/>
</message>
<message name="insertBMIResultResponse">
<part name="parameters" element="tns:insertBMIResultResponse"/>
</message>
<portType name="BMICalcWebService">
<operation name="updateUser">
<input wsam:Action="http://services.bmicalc.com/BMICalcWebService/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcWebService/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://services.bmicalc.com/BMICalcWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="viewUser">
<input wsam:Action="http://services.bmicalc.com/BMICalcWebService/viewUserRequest" message="tns:viewUser"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcWebService/viewUserResponse" message="tns:viewUserResponse"/>
</operation>
<operation name="insertUser">
<input wsam:Action="http://services.bmicalc.com/BMICalcWebService/insertUserRequest" message="tns:insertUser"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcWebService/insertUserResponse" message="tns:insertUserResponse"/>
</operation>
<operation name="checkUserEmail">
<input wsam:Action="http://services.bmicalc.com/BMICalcWebService/checkUserEmailRequest" message="tns:checkUserEmail"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcWebService/checkUserEmailResponse" message="tns:checkUserEmailResponse"/>
</operation>
<operation name="calculateBMI">
<input wsam:Action="http://services.bmicalc.com/BMICalcWebService/calculateBMIRequest" message="tns:calculateBMI"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcWebService/calculateBMIResponse" message="tns:calculateBMIResponse"/>
</operation>
<operation name="classifyBMI">
<input wsam:Action="http://services.bmicalc.com/BMICalcWebService/classifyBMIRequest" message="tns:classifyBMI"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcWebService/classifyBMIResponse" message="tns:classifyBMIResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://services.bmicalc.com/BMICalcWebService/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcWebService/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="viewBmiResult">
<input wsam:Action="http://services.bmicalc.com/BMICalcWebService/viewBmiResultRequest" message="tns:viewBmiResult"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcWebService/viewBmiResultResponse" message="tns:viewBmiResultResponse"/>
</operation>
<operation name="insertBMIResult">
<input wsam:Action="http://services.bmicalc.com/BMICalcWebService/insertBMIResultRequest" message="tns:insertBMIResult"/>
<output wsam:Action="http://services.bmicalc.com/BMICalcWebService/insertBMIResultResponse" message="tns:insertBMIResultResponse"/>
</operation>
</portType>
<binding name="BMICalcWebServicePortBinding" type="tns:BMICalcWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkUserEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateBMI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="classifyBMI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewBmiResult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertBMIResult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BMICalcWebService">
<port name="BMICalcWebServicePort" binding="tns:BMICalcWebServicePortBinding">
<soap:address location="http://localhost:8080/BMICalcWebApp/BMICalcWebService"/>
</port>
</service>
</definitions>