BMICalcApp/xml-resources/web-service-references/BMICalcWebService/wsdl/localhost_8080/BMICalcWebApp/BMICalcWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.bmicalc.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.bmicalc.com/">

<xs:element name="calculateBMI" type="tns:calculateBMI"/>

<xs:element name="calculateBMIResponse" type="tns:calculateBMIResponse"/>

<xs:element name="checkUserEmail" type="tns:checkUserEmail"/>

<xs:element name="checkUserEmailResponse" type="tns:checkUserEmailResponse"/>

<xs:element name="classifyBMI" type="tns:classifyBMI"/>

<xs:element name="classifyBMIResponse" type="tns:classifyBMIResponse"/>

<xs:element name="deleteBlock" type="tns:deleteBlock"/>

<xs:element name="deleteBlockResponse" type="tns:deleteBlockResponse"/>

<xs:element name="deleteUser" type="tns:deleteUser"/>

<xs:element name="deleteUserResponse" type="tns:deleteUserResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="insertBMIResult" type="tns:insertBMIResult"/>

<xs:element name="insertBMIResultResponse" type="tns:insertBMIResultResponse"/>

<xs:element name="insertBlock" type="tns:insertBlock"/>

<xs:element name="insertBlockResponse" type="tns:insertBlockResponse"/>

<xs:element name="insertUser" type="tns:insertUser"/>

<xs:element name="insertUserResponse" type="tns:insertUserResponse"/>

<xs:element name="updateUser" type="tns:updateUser"/>

<xs:element name="updateUserResponse" type="tns:updateUserResponse"/>

<xs:element name="viewBlock" type="tns:viewBlock"/>

<xs:element name="viewBlockResponse" type="tns:viewBlockResponse"/>

<xs:element name="viewBmiResult" type="tns:viewBmiResult"/>

<xs:element name="viewBmiResultResponse" type="tns:viewBmiResultResponse"/>

<xs:element name="viewUser" type="tns:viewUser"/>

<xs:element name="viewUserResponse" type="tns:viewUserResponse"/>

<xs:complexType name="viewBmiResult">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewBmiResultResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertUser">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="dateOfBirth" type="xs:string" minOccurs="0"/>
<xs:element name="accountMade" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewUser">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateBMI">
<xs:sequence>
<xs:element name="height" type="xs:double"/>
<xs:element name="weight" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateBMIResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertBMIResult">
<xs:sequence>
<xs:element name="userEmail" type="xs:string" minOccurs="0"/>
<xs:element name="bmi" type="xs:double"/>
<xs:element name="date_added" type="xs:string" minOccurs="0"/>
<xs:element name="height" type="xs:double"/>
<xs:element name="weight" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertBMIResultResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUser">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkUserEmail">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkUserEmailResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBlock">
<xs:sequence>
<xs:element name="userEmail" type="xs:string" minOccurs="0"/>
<xs:element name="targetEmail" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBlockResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUser">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="dateOfBirth" type="xs:string" minOccurs="0"/>
<xs:element name="accountMade" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertBlock">
<xs:sequence>
<xs:element name="userEmail" type="xs:string" minOccurs="0"/>
<xs:element name="targetEmail" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertBlockResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewBlock">
<xs:sequence>
<xs:element name="userEmail" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewBlockResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="classifyBMI">
<xs:sequence>
<xs:element name="bmi" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="classifyBMIResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>